* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #A7C7E7;
    margin-bottom: 10rem;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
  }

  #pokeTitle{
    font-family: 'Press Start 2P', cursive;
    padding: 2rem;
    text-align: center;
    margin-top: 4rem;
  }

  .pulse-with-pink {
    color: #ee07baab;
    background-color: #FDFD96;
    box-shadow: -12px -7px 20px 20px #ee07ba;
    animation: pink-pulse 1s infinite;
  }
  
  @keyframes pink-pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 #ee07ba;
    }
    
    70% {
      transform: scale(1.4);
      box-shadow: 0 0 0 10px #ee07ba7a;
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 #ee07ba;
    }
  }
  
  .pokedex-wrap {
    align-items: center;
    display: flex;
    height: 28rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  /* main area container of handheld pokedex */

  .poke-container {
    border: 0.188rem solid pink;
    background: palevioletred;
    width: calc(40% + 60%);
    margin-top: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    box-shadow: 0.75rem 0.75rem 1.25rem 0.938rem rgb(0 0 255 / 52%);
}
  /* keep for styling on top area styling for gaming area */

  .top-gaming-light {
    border-bottom: 1rem solid pink;
    display: flex;
    height: auto;
    padding: 1.5rem;
  }
  
  .top-gaming-light__pink {
    background: radial-gradient(farthest-corner at 10px 10px, #faf6f6, #ee07ba, #d01282);
    border-radius: 50%;
    border: 0.1rem solid white;
    box-shadow: 0 0 0.125rem 0.125rem rgb(0 0 0 / 50%);
    height: 1.875rem;
    width: 1.875rem;
  }
  
  .top-gaming-light__smaller-lights {
    display: flex;
    margin: 0 1.563rem;
  }
  
  .top-gaming-light__red,
  .top-gaming-light__yellow,
  .top-gaming-light__green {
    border-radius: 50%;
    border: 0.1rem solid white;
    height: 1rem;
    margin-right: 0.73rem;
    width: 1rem;
  }

/* gaming light colours at the top of pokedex */

  .top-gaming-light__red {
    background: #7F100F;
  }
  
  .top-gaming-light__yellow {
    background: #EDF18E;
  }
  
  .top-gaming-light__green {
    background: #33915A;
  }

  .poke-container__game-container {
    display: flex;
    height: 24rem;
    padding: 1.563rem;
    width: auto;
  }
  
.screen-border {
    background: aqua;
    border: 0.188rem solid pink;
    box-shadow: inset 0 0 0.188rem 0.188rem #f08ef1f7;
  }
  
  /* distorted vision in pokedex styling */

  .distorted-vision-screen {
    height: calc(100% - 50px);
    margin: 25px;
    padding: 10px;
    width: calc(100% - 50px); 
    background-image: url(https://images.unsplash.com/photo-1627856013061-3da1dc64469e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80), radial-gradient(#00ff00, #000000), repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 2.5px, transparent 5px);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-name: animate;

  }

  @keyframes animate {
    0% {
      background-image: url(https://images.unsplash.com/photo-1627856013061-3da1dc64469e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80), radial-gradient(#00ff00, #000000), repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 1.5px, transparent 5px);
    }
  
    50% {
      background-image: url(https://images.unsplash.com/photo-1627856013061-3da1dc64469e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80), radial-gradient(#00ff00, #000000), repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 4.5px, transparent 5px);
    }
  100% {
      background-image: url(https://images.unsplash.com/photo-1627856013061-3da1dc64469e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80), radial-gradient(#00ff00, #000000), repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 2.5px, transparent 5px);
    }
  }
  
  

  .main-screen {
    border-radius: 0.938rem;
    height: 100%;
    padding: 0.938rem;
  }

  .screen__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .poke-name {
    color: white;
    font-size: 1.563rem;
    font-weight: bold;
  }
  
  .poke-id {
    color: rgba(0,0,0,.5);
    font-size: 1.25rem;
  }

  .screen__description {
    display: flex;
    height: 6.25rem;
    justify-content: space-around;
  }
  
  .screen__stats {
    background: rgba(0,0,0,.3);
    border-radius: 0.313rem;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1.25rem 0.938rem;
  }
  
  .stats__types {
    height: 100%;
    padding: 0.313rem;
  }

  .poke-type-one,
  .poke-type-two {
    background: rgba(255,255,255,.3);
    border-radius: 1.563rem;
    display: block;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    text-align: center;

  }

  .poke-container__controllers {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0.625rem 1.563rem 0;
  }
  
  .controllers__direct-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  /* directional pad */

  .direct-pad__cube {
    background: #b19cd9;
    box-shadow: 0 0 0.125rem 0.125rem rgba(107, 28, 107, 0.3);
    height: 1.563rem;
    width: 1.563rem;
  }
  
  .direct-pad__cube.top {
    border-left: 0.063rem solid #defde0;
    border-radius: 0.313rem 0.313rem 0 0;
    border-right: 0.063rem solid  #defde0;
    border-top: 0.063rem solid  #defde0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    cursor: pointer;
  }

  .direct-pad__cube.top:active{
    background-color: #FDFD96;
    transform: translateY(0.125rem);
  }
  .direct-pad__cube.top:hover{
    background-color: #FDFD96;
  }
  
  .direct-pad__cube.left {
    border-bottom: 0.063rem solid  #defde0;
    border-left: 0.063rem solid  #defde0;
    border-radius: 0.313rem 0 0 0.313rem;
    border-top: 0.063rem solid  #defde0;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    cursor: pointer;
  }

  .direct-pad__cube.left:active {
    background-color: #FDFD96;
    transform: translateY(0.125rem);
  }

  .direct-pad__cube.left:hover {
    background-color: #FDFD96;
  }
  
  .direct-pad__cube.middle {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .direct-pad__cube.middle:hover {
    background-color: #FDFD96;
  }
  
  .direct-pad__cube.right {
    border-bottom: 0.063rem solid  #defde0;
    border-radius: 0 0.313rem 0.313rem 0;
    border-right: 0.063rem solid  #defde0;;
    border-top: 0.063rem solid  #defde0;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    cursor: pointer;
  }

  .direct-pad__cube.right:active {
    background-color: #FDFD96;
    transform: translateY(0.125rem);
  }

  .direct-pad__cube.right:hover {
    background-color: #FDFD96;
  }
  
  .direct-pad__cube.bottom {
    border-bottom: 0.063rem solid  #defde0;
    border-left: 0.063rem solid  #defde0;
    border-radius: 0 0 0.313rem 0.313rem;
    border-right: 0.063rem solid  #defde0;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    cursor: pointer;
  }

  .direct-pad__cube.bottom:active {
    background-color: #FDFD96;
    transform: translateY(0.125rem);
  }
  .direct-pad__cube.bottom:hover {
    background-color: #FDFD96;
  }
  
  .controllers__buttons {
    display: flex;
    justify-content: space-around;
    width: 6.25rem;
  }
  
  .buttons__button {
    align-items: center;
    background: aqua;
    border-radius: 50%;
    border: 0.2rem solid pink;
    box-shadow: 0 0 0.125rem 0.125rem rgba(185, 33, 33, 0.37);
    color: rgba(43, 31, 214, 0.829);
    display: flex;
    height: 2.188rem;
    justify-content: center;
    width: 2.188rem;
  }
  
  .buttons__button:first-child {
    margin-top: 0.313rem;
  }
  
  .buttons__button:last-child {
     margin-top: -0.313rem;
   }

   #pressPikachuA:active{
     /* color to be a yellow to indicate pikachu once active. */
    background-color:#d3b629;
    /* transforming the button to push down once user clicks on button A. */
    transform: translateY(0.313rem);
   }
   #pressPikachuA:hover{
      /* color to be a yellow to indicate pikachu when user hovers over with mouse. */
    background-color:#d3b629;
   }

   #pressAudioB:active{
    /* pokemon blue */
    color: #FFDE00;
    /* pokemon red colour. */
    background-color: #FF0000;
    /*animation once user pushes button B. */
    transform: translateY(0.313rem);
   }
  
  
  